.poppins {
  font-family: "Poppins", sans-serif;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.letter-spacing {
  letter-spacing: 2px;
}

.bold-headers {
  font-weight: 800;
}

.very-bold-headers {
  font-weight: 900;
}

.t-duration {
  transition-duration: 0.5s;
}

p {
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  box-sizing: content-box;
}

.dotted-bg {
  background: url(../images/dots.png);
  width: 100%;
  height: 100%;
  top: 50%;
  z-index: -1;
}

section h2 {
  width: fit-content;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

/* =============== NAVBAR =============== */

nav .nav-item a::before {
  content: "";
  color: #FFF;
  width: 0%;
  height: 2px;
  bottom: 0;
  position: absolute;
  transition-duration: 0.6s;
  background-color :#FFF;
}

body:not(:has(:target)) li a[href="#home"]::before,
body:has(#home:target) li a[href="#home"]::before,
body:has(#services:target) li a[href="#services"]::before,
body:has(#portfolio:target) li a[href="#portfolio"]::before,
body:has(#team:target) li a[href="#team"]::before,
body:has(#testimonials:target) li a[href="#testimonials"]::before,
body:has(#about:target) li a[href="#about"]::before,
body:has(#contact:target) li a[href="#contact"]::before {
  width: 50%;
  background-color: black;
}

/* =============== HEADER =============== */

header {
  background: url(../images/bg.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
}

/* =============== ABOUT =============== */

.progress {
  height: 25px !important;
  font-size: 13px;
}

.inset-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px inset;
}

button.cv-btn,
button.contact-btn {
  font-size: 13px;
  width: 150px;
}

button.cv-btn:hover {
  background-color: white !important;
  color: black !important;
}

button.contact-btn:hover {
  background-color: black !important;
}

.about a[href="#contact"] {
  color: black;
}

.about a[href="#contact"]:hover {
  background-color: black !important;
  color: white;
}

.about .dotted-bg {
  width: 70%;
  height: 70%;
  left: -20px;
  top: calc(70% - 200px);
  z-index: 0;
}

/* =============== SERVICES =============== */

.services .card-body > i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  box-sizing: content-box;
}

.services .card-body:hover > i {
  background-color: black !important;
  color: white;
}

/* =============== PORTFOLIO =============== */
.portfolio .nav-link {
color: #222;
font-weight: 700;
font-size: 16px;
cursor: pointer;
position: relative;
z-index: 2;
}

.portfolio .overlay i,
.team .overlay i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: content-box;
  background: black;
  color: white;
  cursor: pointer;
}

.portfolio .overlay i:hover,
.team .overlay i:hover {
  background: white;
  color: black;
}

.portfolio .overlay {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -48%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  opacity: 0;
}

.portfolio .card:hover .overlay {
  opacity: 0.95;
  transform: translate(-50%, -50%);
}

/* =============== CAROUSEL =============== */

.carousel img {
  width: 100px;
}

.carousel-indicators > button {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--bs-gray-400) !important;
  border-radius: 50%;
  margin: 0 7px !important;
}

.carousel-indicators > button.active {
  background-color: var(--bs-secondary) !important;
}

.carousel-indicators {
  position: absolute;
  bottom: 30px;
}

/* =============== TEAM =============== */

.team .img-div:hover img {
  scale: 1.2;
}

.team .overlay i {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.team .overlay {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  opacity: 0;
}

.team .card:hover .overlay {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  opacity: 0.95;
  transform: translate(-50%, -50%) rotateY(0deg);
}

.team .card-body {
  background-color: rgba(0, 0, 0, 0.65);
}

/* =============== CONTACT =============== */

.contact i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-sizing: content-box;
  background-color: rgba(var(--bs-secondary-bg-rgb));
  color: black;
}

.contact i:hover {
  background-color: black;
  color: white;
}

.contact form input:focus-visible,
.contact form textarea:focus-visible {
  border: 0;
  outline: 0;
}

.contact form button {
  background: black;
  color: white;
  padding: 10px 40px;
  font-size: 13px;
}

.contact form button:hover {
  background: white;
  color: black;
}
